{% extends "twitter/base.html" %}
{% block content %}  

<script>
  let pastDates = true, availableDates = false, availableWeekDays = true;
  let calendar = new VanillaCalendar({
      selector: "#myCalendar",
      months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
      shortWeekday: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      onSelect: (data, elem) => {
          // console.log(data.date);
          changeDate(data.date)
      }
      ///// Start editing from here
      // This function here onSelect takes the date
      // Call the API with fetch() method
  })


</script>


<script type="text/javascript" src="https://unpkg.com/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">

////// DATASETS ////////////////////
const dataset_1_TendingTopics = [{
label:'Positive Tweets',
backgroundColor:'Orange',
data:[50,60,70,30,40]
},
{
  label:'Negative Tweets',
  backgroundColor:'Red',
  data:[100,100,100,100,100]
}
];

const dataset_2_PositiveNegative = [
{
label:'Negative Tweets',
backgroundColor:'#9300ff',
data:[80,70,90,80,70,90,80,70,90,80,70,90]
},
{
label:'Positive Tweets',
backgroundColor:'#40acff',
data:[20,30,10,20,30,10,20,30,10,20,30,10]
}
];

const dataset_3_Emotions = [
{
label:'Relief',
backgroundColor:'#dbff34',
data:[40,70,90,80]
},
{
label:'Anxious',
backgroundColor:'#d90ee7',
data:[60,70,90,80]
},
{
label:'Happy',
backgroundColor:'#00ff00',
data:[80,70,90,80]
},
{
label:'Sad',
backgroundColor:'#f20002',
data:[50,30,40,20]
}
];
//////// Do not touch after here //////////////////////////////
////////////////////////GLOBAL CONFIGS ///////////////////////////
const ticks = {fontColor:"white"};
const legend = {display:true,position:'bottom',labels:{fontColor:'white'}};
///////////////GRAPH STARTS ///////////////////////////////////////////
const labels_1 = ['Quarantine','Migrant','Final year','Exams','Hospital'];
new Chart(document.getElementById("tending_topics_twitter"), {
type: 'horizontalBar',
data: {
labels: labels_1,
datasets: dataset_1_TendingTopics
},
options: {
legend: legend,
title: {display: false},
scales: {
        yAxes: [
          {
            stacked: true,
            ticks: ticks,
            gridLines:{display:false}
          }
        ],
        xAxes: [{
            stacked : true,
            ticks: ticks,
            gridLines:{display:false}
        }]
    }
}
});
new Chart(document.getElementById("positive-negative"), {
type: 'bar',
data: {
  labels: [1,2,3,4,5,6,7,8,9,10,11,12],
  datasets: dataset_2_PositiveNegative
},
options: {
  barRoundness: 1,
  legend: legend,
  title: { display: false },
  scales: {
          yAxes: [
            {
              ticks: ticks,
              stacked:true,
              gridLines: {color:"blue"}
            }
        ],
          xAxes: [
            {
              ticks: ticks,
              stacked:true,
              gridLines:{display:false}
          }
        ]
      }
}
});
new Chart(document.getElementById("emotions"), {
type: 'bar',
data: {
  labels: [1,2,3,4],
  datasets: dataset_3_Emotions
},
options: {
  legend: legend,
  title: { display : false },
  scales: {
          yAxes: [{
            beginAtZero: true,
            gridLines: { color: "Blue" },
              ticks: {min:0,fontColor:"white"}
          }],
          xAxes: [{
            beginAtZero: true,
            gridLines: { display: false },
              ticks: ticks
          }]
      }
}
});

</script>
{% endblock content %}