{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sentiment Analysis of Twitter.</title>
    <style media="screen">
    body {
      padding:1rem;
      background-color: #121212 !important;
      box-sizing: border-box;
    }
      .b-style-1 {
        height:100%;
        width: 100%;
        background-color:green;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0.5rem;
        padding:rem;
        align-content: center;
        margin-top:2rem;
        box-shadow: 0px 0px 31px 0px rgba(33,70,219,1);
      }

      .b-style-2 {
        height:100%;
        width: 100%;
        background-color:green;
        margin-top:1rem;
        align-items: center;
        margin-bottom: 1rem;
      }
      .inner-head {
        background-color:blue;
        width: 80%;
        text-align: center;
        margin-left:10%;
        margin-top:-2rem;
        border: 2px solid red;
        padding:0.5rem;

      }
      .svg-map {
        padding:2rem;
      }


    </style>
    <link rel="stylesheet" href="{% static 'twitter/vanilla-calendar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">DevDas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Dark Mode</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Some Other Mode</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="container-flex">
        <div class="row">
          <div class="col-4">
            <!-- LEFT SIDE -->
            <div class="row">
              <!-- WORD BOX -->
              <div class="b-style-1">
                <div class="inner-head"><h3>Word Cloud</h3></div>
                <br>
                <center> <img src="media/word.png" alt="" height="200"> </center>
                <br>
              </div>
            </div>

            <div class="row">
              <!-- Trending Topics -->
              <div class="b-style-1">
                <div class="inner-head"><h3>Trending Topics on Twitter</h3></div>
                <canvas id="bar-chart-horizontal" width="400" height="200"></canvas>
              </div>
            </div>

            <div class="row">
              <!-- calendar -->
              <div class="b-style-1">
                <div class="inner-head"><h3>Calender</h3></div>
                <br>
                <div class="vanilla-calendar" id="myCalendar"></div>
              </div>
            </div>


          </div>
          <div class="col-4">
            <!-- MIDDLE -->
            <div class="row">
              <!-- INDIA MAP -->
              <div class="b-style-2">
                <div class="inner-head"><h3>Map Of India</h3></div>
                <div class="svg-map">
                  <center>
                    <object data="{% static 'twitter/india.svg' %}" height="500"></object>
                  </center>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- IMP DATES -->
              <div class="b-style-1">
                <div class="inner-head"><h3>Important Dates</h3></div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <!-- RIGHT SIDE   -->
            <div class="row">
              <!-- WORD BOX -->
              <div class="b-style-1">
                <div class="inner-head"><h3>Graph 1</h3></div>
                <canvas id="bar-chart" width="400" height="200"></canvas>
              </div>
            </div>

            <div class="row">
              <!-- Trending Topics -->
              <div class="b-style-1">
                <div class="inner-head"><h3>Graph 2</h3></div>
                <canvas id="bar-chart1" width="400" height="200"></canvas>
              </div>
            </div>

            <div class="row">
              <!-- calendar -->
              <div class="b-style-1">
                <div class="inner-head"><h3>Graph 3</h3></div>
                <canvas id="bar-chart2" width="400" height="200"></canvas>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>





















  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{% static 'twitter/vanilla-calendar.js' %}"> </script>
  <script>
      let pastDates = true, availableDates = false, availableWeekDays = true;
      let calendar = new VanillaCalendar({
          selector: "#myCalendar",
          months: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
          shortWeekday: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
          onSelect: (data, elem) => {
              console.log(data, elem)
          }
      })


  </script>
  <script type="text/javascript" src="https://unpkg.com/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script type="text/javascript">
  new Chart(document.getElementById("bar-chart-horizontal"), {
  type: 'horizontalBar',
  data: {
    labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
    datasets: [
      {
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [2478,5267,734,784,433]
      }
    ]
  },
  options: {
    legend: { display: false },
    title: {
      display: true,
      text: 'Predicted world population (millions) in 2050',
      fontColor:"white"
    },
    scales: {
            yAxes: [{
                ticks: {
                    fontColor: "white"
                }
            }],
            xAxes: [{
                ticks: {
                    fontColor: "white"

                }
            }]
        }
  }
});
new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]

        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050',
        fontColor:"white"
      },
      scales: {
              yAxes: [{
                  ticks: {
                      fontColor: "white"
                  }
              }],
              xAxes: [{
                  ticks: {
                      fontColor: "white"

                  }
              }]
          }
    }
});
new Chart(document.getElementById("bar-chart1"), {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050',
        fontColor:"white"
      },
      scales: {
              yAxes: [{
                gridLines: { color: "white" },
                  ticks: {
                      fontColor: "white"
                  }
              }],
              xAxes: [{
                gridLines: { color: "white" },
                  ticks: {
                      fontColor: "white"

                  }
              }]
          }
    }
});
new Chart(document.getElementById("bar-chart2"), {
    type: 'bar',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050',
        fontColor:"white"
      },
      scales: {
              yAxes: [{
                  ticks: {
                      fontColor: "white"
                  }
              }],
              xAxes: [{
                  ticks: {
                      fontColor: "white"

                  }
              }]
          }
    }
});
  </script>
  </body>
</html>
