{% extends "twitter/base.html" %}
{% block content %}

<script type="text/javascript">

////// DATASETS ////////////////////
  const dataset_1_TendingTopics = [{
    label:'Doctor',
    borderColor:'Yellow',
    data:[50,60,70,30,40,50,60,70,30,40]
    },
    {
      label:'Migrant',
      borderColor:'Pink',
      data:[10,20,40,50,70,80,90,50,30,20]
    },
    {
      label:'Exams',
      borderColor:'Aqua',
      data:[20,40,50,70,80,70,30,40,50,60]
    },
    {
      label:'Covid-19',
      borderColor:'Red',
      data:[40,50,70,30,40,80,70,30,40,50]
    }
];

const dataset_2_PositiveNegative = [
  {
    label:'Negative Tweets',
    borderColor:'#9300ff',
    data:[500,1000,1200,1700,2400,2000,3000,5100,4500,3800,4700,5000]
  },
  {
    label:'Positive Tweets',
    borderColor:'#40acff',
    data:[500,2000,3000,5100,4500,3800,4700,5000,1200,1700,2400,2000]
  }
];

const dataset_3_Emotions = [
  {
    label:'Relief',
    borderColor:'#dbff34',
    data:[40,70,90,80,60,70,90,80],
    pointRadius:0
  },
  {
    label:'Anxious',
    borderColor:'#d90ee7',
    data:[60,70,90,80,60,70,90,80],
    pointRadius:0
  },
  {
    label:'Happy',
    borderColor:'#00ff00',
    data:[80,70,90,80,70,90,80,60],
    pointRadius:0
  },
  {
    label:'Sad',
    borderColor:'#f20002',
    data:[50,30,40,20,70,90,80,60],
    pointRadius:0
  }
];
//////// Do not touch after here //////////////////////////////
////////////////////////GLOBAL CONFIGS ///////////////////////////
  const ticks = {fontColor:"white"};
  const legend = {display:true,position:'bottom',labels:{fontColor:'white'}};
///////////////GRAPH STARTS ///////////////////////////////////////////
  const labels_1 = [1,2,3,4,5,6,7,8,9,10];
  new Chart(document.getElementById("tending_topics_twitter"), {
  type: 'line',
  data: {
    labels: labels_1,
    datasets: dataset_1_TendingTopics
  },
  options: {
    legend: legend,
    title: {display: false},
    scales: {
            yAxes: [
              {
                gridLines:{display:true}
              }
            ],
            xAxes: [{
                gridLines:{display:false}
            }]
        }
  }
});
new Chart(document.getElementById("positive-negative"), {
    type: 'line',
    data: {
      labels: [1,2,3,4,5,6,7,8,9,10,11,12],
      datasets: dataset_2_PositiveNegative
    },
    options: {

      legend: legend,
      title: { display: false },
      scales: {
              yAxes: [
                {
                  gridLines: {color:"blue"}
                }
            ],
              xAxes: [
                {
                  gridLines:{display:false}
              }
            ]
          }
    }
});
new Chart(document.getElementById("emotions"), {
    type: 'line',
    data: {
      labels: [1,2,3,4,5,6,7,8],
      datasets: dataset_3_Emotions
    },
    options: {
      legend: legend,
      title: { display : false },
      scales: {
              yAxes: [{
                beginAtZero: true,
                gridLines: { color: "Blue" },
              }],
              xAxes: [{
                beginAtZero: true,
                gridLines: { display: false },
              }]
          }
    }
});

  </script>

{% endblock content %}